* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(50 73 91);
}

/* inizio classi/selettori che posso usare ovunque */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.verticalign {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}

.color {
  width: 100%;
}
.indent {
  width: 80%;
  margin: auto;
}

.left_of_2,
.right_of_2 {
  float: left;
}
.left_of_2 {
  width: 40%;
  text-align: left;
}
.right_of_2 {
  width: 60%;
  text-align: right;
}

.left_of_3,
.center_of_3,
.right_of_3 {
  float: left;
  width: calc((100% - 60px) / 3);
  text-align: center;
}
.center_of_3 {
  margin: 0 30px;
}

.grid_element {
  float: left;
  width: 25%;
  text-align: center;
}

ul {
  list-style: none;
}
.horizontal_list > * {
  display: inline;
  vertical-align: middle;
}
.horizontal_list > * > * ,
ul.select > * > *,
ul.select > * > * > *,
div.selectbox > * > * > *,
.check,
p {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: rgb(50 73 91);
  vertical-align: middle;
}
.horizontal_list > *:not(:last-child) {
  margin-right: 1em;
}
.check {
  text-align: left;
}
.check:not(.horizontal_list) {
  margin: 20px auto 30px;
}
.check li::before {
  content: '\2714';
  display: inline-block;
  margin-right: 10px;
  font-size: 9px;
  height: 12px;
  width: 12px;
  background-color: rgb(254 119 90);
  color: white;
  border-radius: 6px;
  line-height: 14px;
  text-align: center;
}

.logo {
  height: 20px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 900;
}

.typic > * {
  max-width: 30vw;
  margin-top: 20px;
}
.typic > p:last-child,
main .achievements .grid_element {
  font-size: 10px;
}

.button {
  display: inline-block;
  border: 1px solid;
  border-radius: 0.3em;
  font-size: 12px;
}
.button.small {
  padding: 0.3em 0.5em;
}
.button.big {
  padding: 1em;
}
.button.white_back {
  background-color: rgb(250 252 254);
  border-color: rgb(254 119 90);
  color: rgb(254 119 90);
}
.button.red_back {
  background-color: rgb(254 119 90);
  border-color: rgb(254 119 90);
  color: white;
}

.white_box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgrey;
  padding: 10px 30px;
}
.white_box img,
.white_box h3 {
  margin-bottom: 10px;
}
.white_box > p {
  height: 10em;
}
.white_box hr {
  border: 1px solid rgb(50 73 91);
}
.white_box hr:not(.special) {
  margin: 0 auto 30px;
}
.white_box h4::before {
  content: 'popular features';
  text-transform: uppercase;
  font-size: smaller;
}
.white_box .button::before {
  content: 'learn more';
  text-transform: capitalize;
}

/* fine classi/selettori che posso usare ovunque */

/* inizio header */

header .fixed {
  position: fixed;
  top: 0;
  line-height: 50px;
  border-bottom: 1px solid grey;
  background-color: rgb(244 249 253);
  z-index: 1;
}
header .fixed .right_of_2 i {
  color: rgb(0 165 190);
  font-weight: bolder;
}
header select {
  border: none;
  background-color: transparent;
}
header nav:not(.fixed) {
  margin-top: 50px;
  line-height: 50px;
}
header .jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: rgb(255 244 239);
}
header .jumbotron .typic {
  margin: 40px auto 150px;
}
header .jumbotron .stripe {
  height: 60px;
  background-color: rgb(175 235 228);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* fine header */

/* inizio main */

main .hubs.color {
  margin: 0;
  background-color: rgb(244 249 253);
}
main .hubs .indent {
  margin: 30px auto;
}
main .hubs .indent > * {
  text-align: center;
}
main .hubs .indent img {
  height: 75px;
}
main .hubs .cubes .img_container {
  width: 150px;
  height: 150px;
  margin: auto;
  background-image: url(../img/integrations_illustration_2.svg);
  background-size: 250%;
  background-position: center;
}
main .hubs .cubes p {
  width: 70%;
  margin: 20px auto 0;
}
main .hubs .horizontal {
  padding: 30px 40px;
}
main .hubs .horizontal .left_of_2 {
  width: 30%;
}
main .hubs .horizontal .left_of_2 > * {
  margin-bottom: 10px;
}
main .hubs .horizontal .right_of_2 {
  width: 70%;
  text-align: left;
}
main .hubs .horizontal .right_of_2 > * {
  margin-bottom: 10px;
}
main .hubs .horizontal .right_of_2 > .clearfix > .right_of_2 {
  position: relative;
  height: 18px;
}
main .hubs .horizontal .right_of_2 hr.special {
  border: 1px solid rgb(50 73 91);
  width: 100%;
}

/* separazione sezioni */

main .achievements.color {
  margin: 0;
  background: linear-gradient(90deg,rgb(0 170 184),rgb(0 187 168));
}
main .achievements .indent {
  margin: 30px auto;
}
main .achievements .indent > * {
  text-align: center;
  color: white;
}
main .achievements .indent > p {
  margin-top: 20px;
  font-weight: 500;
}
main .achievements .grid_element:not(:nth-last-child(-n+4)) {
  border-bottom: 1px solid white;
}
main .achievements .grid_element:not(:nth-child(4n+0)) {
  border-right: 1px solid white;
}
main .achievements .grid_element > * {
  margin: 10px 0;
}
main .achievements .grid_element .icon {
  height: 25px;
}
main .achievements .grid_element h1 {
  font-size: 3em;
}
main .achievements .grid_element p {
  font-size: 1em;
  font-weight: 400;
  color: white;
}

/* separazione sezioni */

main .partners.color {
  margin: 0;
}
main .partners .indent {
  position: relative;
  margin: 50px auto 30px;
}
main .partners .logos .left_of_2 {
  padding: 0 100px;
  text-align: center;
}
main .partners .logos .left_of_2 h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
main .partners .logos .grid_container {
  width: 80%;
  margin: 0 auto;
}
main .partners .logos .grid_element img {
  width: 8vw;   /* anche se non mi sembra molto elegante */
  height: 50px;
  object-fit: contain;
  vertical-align: middle;
}
main .partners .girl > * {
  width: 50%;
}
main .partners .girl .right_of_2 img {
  height: 250px;
}

/* fine main */

/* inizio footer */

footer .color {
  background-color: rgb(50 73 91);
  color: rgb(203 214 226);
}
footer .indent {
  margin: 30px auto;
}
footer .links .grid_element,
footer .end .left_of_2,
footer .end .right_of_2 {
  text-align: left;
}
footer .end .right_of_2 {
  text-align: right;
}
footer .end .left_of_2,
footer .end .right_of_2 {
  margin-top: 30px;
}
footer ul {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.5em;
}
footer .button.special {
  line-height: 18px;
  margin: 10px 0;
  background-color: rgb(203 214 226);
  border-color: white;
  color: rgb(50 73 91);
}
footer p,
footer a,
footer .horizontal_list a {
  font-weight: 400;
  color: rgb(203 214 226);
}
footer h4 {
  font-weight: 600;
  line-height: 3.5em;
  color: white;
}
footer a:not(:last-child) .fab {
  margin-right: 20px;
}
footer .languages {
  margin-top: 30px;
  line-height: 18px;
  border-bottom: 1px solid rgb(203 214 226);
  text-align: center;
}

/* fine footer */
