* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* inizio classi/selettori che posso usare ovunque */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* tutta la terza generazione delle tre macroaree è indentata */

.color {
  width: 100%;
}
.indent {
  width: 80%;
  margin: auto;
}

.left_of_2,
.right_of_2 {
  float: left;
  width: 50%; /* da rivedere causa responsiveness */
}
.left_of_2 {
  text-align: left;
}
.right_of_2 {
  text-align: right;
}

.left_of_3,
.center_of_3,
.right_of_3 {
  float: left;
  width: calc((100% - 60px) / 3);
  text-align: center;
}
.center_of_3 {
  margin: 0 30px;
}

.grid_element {
  float: left;
  width: 25%;
  text-align: center;
  background-color: blue;
}

.horizontal_list > * {
  display: inline;
  list-style: none;
  vertical-align: middle;
}
.horizontal_list > * > * {
  font-size: 0.75em;
  font-weight: bold;
  color: rgb(70 70 70);
}
.horizontal_list > *:not(:last-child) {
  margin-right: 1em;
}

.logo {
  height: 20px;
  vertical-align: middle;
}

header select {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.button {
  border: 1px solid;
  border-radius: 0.3em;
}
.small {
  padding: 0.3em;
}
.big {
  padding: 1em;
}
.grey_back {
  background-color: lightgrey;
  border-color: white;
  color: black;
}
.white_back {
  background-color: rgb(250 252 254);
  border-color: rgb(254 119 90);
  color: rgb(254 119 90);
}
.red_back {
  background-color: rgb(254 119 90);
  border-color: rgb(254 119 90);
  color: white;
}

/* fine classi/selettori che posso usare ovunque */

/* inizio header */

/* vedere fontsize */

header .fixed {
  /* perchè si vede lo sfondo anche senza clearfix? per la position? */
  position: fixed;
  top: 0;
  line-height: 50px;
  border-bottom: 1px solid grey;
  background-color: rgb(244 249 253);
}
header .fixed .left_of_2 span {
  filter: grayscale(100%) contrast(500%); /* lo so ho barato */
}
header .fixed .right_of_2 .special {
  display: inline-block;
  line-height: 100%;
  transform: rotate(315deg);
  color: rgb(0 165 190);
  font-size: 1em;
  font-weight: bolder;
}

header nav:nth-child(2) {
  margin-top: 50px;
  line-height: 50px;
}

header .jumbotron {
  background-image: url(../img/jumbotron.png);
  padding-top: 50px;
}
header .jumbotron > * > *:not(:first-child) {
  max-width: 50%;
  margin-top: 20px;
}
header .jumbotron > * > a {
  display: inline-block; /* generalizzare? */
}

header .stripe {
  height: 50px;
  background-color: rgb(175 235 228);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* fine header */

/* inizio main */

main section:nth-child(1).color {
  margin: 0;
  background-color: yellow;
}
main section:nth-child(1) .indent {
  min-height: 400px;
  margin: 30px auto;
  background-color: lightblue;
  border: 1px solid black;
}
main section:nth-child(1) .indent > * {
  min-height: 500px;
  background-color: blue;
  border: 1px solid black;
}

main section:nth-child(2).color {
  margin: 0;
  background-color: yellow;
  border-top: 1px solid black;
}
main section:nth-child(2) .indent {
  min-height: 200px;
  margin: 30px auto;
  background-color: lightblue;
  border: 1px solid black;
}
main section:nth-child(2) .indent > * {
  min-height: 200px;
  background-color: blue;
  border: 1px solid black;
}

/* fine main */

/* inizio footer */

/* fine footer */
