* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* inizio classi/selettori che posso usare ovunque */

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* tutta la terza generazione delle tre macroaree è indentata */

.color {
  width: 100%;
}
.indent {
  width: 80%;
  margin: auto;
}

.left, .right {
  float: left;
  width: 50%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

/* left_of_2, left_of_3 */

.horizontal_list > * {
  display: inline;
  list-style: none;
  vertical-align: middle;
}
.horizontal_list > * > * {
  font-size: 0.8em;
  color: rgb(70 70 70);
}
.horizontal_list > *:not(:last-child) {
  margin-right: 1em;
}

a {
  text-decoration: none;
}

.button {
  border: 1px solid;
  border-radius: 0.3em;
}
.small {
  padding: 0.3em;
}
.big {
  padding: 1em;
}
.grey_back {
  background-color: lightgrey;
  border-color: white;
  color: black;
}
.white_back {
  background-color: rgb(250 252 254);
  border-color: rgb(254 119 90);
  color: rgb(254 119 90);
}
.red_back {
  background-color: rgb(254 119 90);
  border-color: rgb(254 119 90);
  color: white;
}

/* fine classi/selettori che posso usare ovunque */

/* inizio header */

/* vedere fontsize */

.fixed {
  /* perchè si vede lo sfondo anche senza clearfix? per la position? */
  position: fixed;
  line-height: 50px;
  border-bottom: 1px solid grey;
  background-color: rgb(244 249 253);
}
.fixed .left span {
  filter: grayscale(100%) contrast(500%); /* lo so ho barato */
  }
  .fixed .left select {
    border: none;
    background-color: transparent;
  }
.fixed .right .special {
  display: inline-block;
  line-height: 100%;
  transform: rotate(315deg);
  color: rgb(0 165 190);
  font-size: 1em;
  font-weight: bolder;
}

/* fine header */

/* inizio main */

/* fine main */

/* inizio footer */

/* fine footer */
